.heading{
    display: flex;
    flex-direction:row;
    overflow: hidden;
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: white;
}

.heading ul{
    height: 100%;
}

.heading li{
    padding-top: 15px;
    padding-left: 18px;
    align-items: center;
    display: inline-block;
}