.heading{
    display: flex;
    flex-direction:row;
    overflow: hidden;
    height: 80px;
    justify-content: space-between;
    background-color: white;
}

.heading ul{
    height: 100%;
}

.heading li{
    padding-top: 15px;
    align-items: center;
    display: inline-block;
}